{% load static %}
<div class="eventform">
    <form action="" class="eventform" method="POST">
        {%csrf_token%}
        {{eventannotation.name}}
        {{eventannotation.starttime}}
        {{eventannotation.endtime}}
        {% if selectedLibraryFiles %}
        {% for sFile in selectedLibraryFiles %}
        <img class="gallery-img" src="{% static 'data/001/'|add:sFile.name%}" alt="">
        <p>{{sFile.name}}</p>
        <p>start:{{sFile.start_time}}</p>
        <p>end:{{sFile.end_time}}</p>
        <hr>
        {% endfor %}
        {% endif %}
        <ol id="currentEvent"></ol>
        <button class="gallery-img" name="eventannotationbtn" type="submit">Update Event</button>

    </form>
    {% if currentEvent %}
    <p>{{currentEvent.name}}</p>
    <p>{{currentEvent.starttime}}</p>
    <p>{{currentEvent.endtime}}</p>
    {% endif %}

</div>

<style>

</style>

<!--onclick="getElementById('currentEvent').innerHTML= '{{ file.name
}}</br>{{file.start_time}}</br>{{file.end_time}}</br>'">-->